body {
    background-color: black;
    text-align: center;
}

.image-section {
    display: flex;
    justify-content: center;
   margin-left: 575px;
    width: 350px;
    
}

.section-style {
    background-color: azure;
    margin-right: 25px;
    margin-left: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    
}

img{
    width:400px;
}

div {
    margin-top: 10px;
}

h1 {
    border-style: solid;
    border-color: azure;
    color: white;
}

h4{
    color:white;
}